@tailwind base;
@tailwind components;
@tailwind utilities;

body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navbar-link {
    margin-left: 1rem;
}

.map-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.map-content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}
